
# Database
DATABASE_TYPE=postgresql

DATABASE_HOST=localhost
DATABASE_PORT=5433

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgdb

DATABASE_URL='${DATABASE_TYPE}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public'


# URLs
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173


# Application
NODE_ENV=development

APP_NAME=Starter API
APP_DESCRIPTION=Переиспользуемая NestJS Starter API

PORT=3000
API_PREFIX=api


# JWT
JWT_ACCESS_SECRET=secret
JWT_ACCESS_EXPIRES_MINUTES=15

JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRES_DAYS=7


# Cookie
REFRESH_COOKIE_NAME=refresh_token


# Security
LOGIN_MAX_ATTEMPTS = 5                  # максимальное количество неудачных попыток авторизоваться (login)
LOGIN_ATTEMPT_WINDOW_MINUTES = 15       # временное окно, в течение которого учитываются попытки входа
LOCK_TIME_MINUTES = 15                  # время блокировки (в случае превышения количества попыток авторизоваться)

THROTTLE_LIMIT = 20                     # макс. запросов/IP за 1 окно
THROTTLE_TTL_SECONDS = 60               # 1 окно в секундах

EMAIL_VERIFICATION_TTL_HOURS=24
PASSWORD_RESET_TTL_HOURS=1


# Mail
MAIL_FROM=no-reply@example.com          # технический email отправителя (обычно no-reply@yourdomain.com).
MAIL_FROM_NAME=Starter API              # понятное человеку имя отправителя